

<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <div class="body-box">
            <%- include('../partials/nav.ejs') %>
                <div class="main dt-cart-main">
                    <div id="category-box">

                        <div class="category-box-products">
                            <a class="category-box-a" href="/product_category/guitar">Guitars</a>
                            <a class="category-box-a" href="/product_category/bass">Basses</a>
                            <!-- <a class="category-box-a" href="/product_category/effects">Effects</a> -->
                            </div>
                            <div class="category-box-login">
                                <% if(user) { %>
                                    <a href="/users/logout" class="category-box-a">Logout</a>
                                <% } else { %>
                                    <a href="/users/login" class="category-box-a">Login/Signup</a>
                                    <% } %>
                            </div>

                    </div>

                    <% let count=0; %>
                        <ul class="mob-all-pro-display">
                            <% user.cart.forEach(pro=> { %>
                                <% count +=pro.price + .99%>
                                    <div class="mob-cart-display">
                                        <div class="mob-cart-display-image">
                                            <img src="<%= pro.image %>" class="mob-cart-image">
                                        </div>
                                        <div class="mob-product-cart-info">
                                            <h4 class="mob-cart-h4">
                                                <%= pro.brand %>
                                                    <%= pro.model %>
                                            </h4>
                                            <p class="mob-cart-p">$<%= pro.price %>.99<br></p>
                                            <% if (pro.price> 99) { %>
                                                <p class="mob-cart-p-shipping">Ships for Free!</p>
                                                <% } %>

                                                    <form class="mob-cart-delete-form"
                                                        action="/users/<%= pro._id %>/cart?_method=DELETE" method="post">
                                                        <input class="mob-cart-delete-form-button" type="submit"
                                                            value="Remove From Cart">
                                                    </form>

                                        </div>
                                    </div>
                                    <% }) %>
                        </ul>

                        <div class="mob-total-checkout">
                            <% let countTaxShipping=count * 0.06 + count %>
                                <div class="mob-total-checkout-taxtotal">
                                    <h6>Product Total: $<%= count.toFixed(2) %>
                                    </h6>
                                    <h6>Tax: $<%= (count * 0.06).toFixed(2) %>
                                    </h6>
                                    <% if (count < 99.99 && count !==0) { %>
                                        <h6>Shipping: $9.99</h6>
                                        <% countTaxShipping +=9.99 %>
                                            <% } else if (count===0) { %>
                                                <h6>Shipping: $0.00</h6>
                                                <% } else { %>
                                                    <h6>Shipping: Free!</h6>
                                                    <% } %>
                                </div>

                                <h4 class="mob-total-checkout-h4">Subtotal: $<%= countTaxShipping.toFixed(2) %>
                                </h4>
                                <% if (count> 99) { %>
                                    <p class="mob-cart-p-shipping">Your Order Ships for Free!</p>
                                    <% } %>
                                        <a href="/product_category/contact"><button class="mob-checkout-button">Proceed to Checkout</button></a>

                        </div>

                        <div class="landing-cat-bar">
                            <div class="landing-cat-bar-products">
                            <a class="landing-cat-a" href="/product_category/guitar">Guitars</a>
                            <a class="landing-cat-a" href="/product_category/bass">Basses</a>
                            <!-- <a class="landing-cat-a" href="/product_category/effects">Effects</a> -->
                            </div>
                            <div class="landing-cat-bar-login">
                                <% if(user) { %>
                                    <a href="/users/logout" class="category-box-a">Logout</a>
                                <% } else { %>
                                    <a href="/users/login" class="category-box-a">Login/Signup</a>
                                    <% } %>
                            </div>
                        </div>

                        <div class="dt-cart-box">

                            <% count=0; %>
                                <ul class="dt-all-pro-display">
                                    <% for (let i = 0; i < user.cart.length; i++) { %>
                                        <% count +=user.cart[i].price + .99%>
                                            <div class="dt-cart-display">
                                                <div class="dt-cart-display-image">
                                                    <img src="<%= user.cart[i].image %>" class="dt-cart-image">
                                                </div>
                                                <div class="dt-product-cart-info">
                                                    <h4 class="dt-cart-h4">
                                                        <%= user.cart[i].brand %>
                                                            <%= user.cart[i].model %>
                                                    </h4>
                                                    <p class="dt-cart-p">$<%= user.cart[i].price %>.99<br></p>
                                                    <% if (user.cart[i].price> 99) { %>
                                                        <p class="dt-cart-p-shipping">Ships for Free!</p>
                                                        <% } %>

                                                            <form class="dt-cart-delete-form"
                                                                action="/users/<%= user.cart[i]._id %>/cart?_method=DELETE"
                                                                method="post">
                                                                <input class="dt-cart-delete-form-button" type="submit"
                                                                    value="Remove From Cart">
                                                            </form>

                                                </div>
                                            </div>
                                            <% } %>
                                </ul>

                                <div class="dt-total-checkout">
                                    <% countTaxShipping=count * 0.06 + count %>
                                        <div class="dt-total-checkout-taxtotal">
                                            <h6 id="dt-total-checkout-top-h6">Product Total: $<%= count.toFixed(2) %>
                                            </h6>
                                            <h6>Tax: $<%= (count * 0.06).toFixed(2) %>
                                            </h6>
                                            <% if (count < 99.99 && count !==0) { %>
                                                <h6>Shipping: $9.99</h6>
                                                <% countTaxShipping +=9.99 %>
                                                    <% } else if (count===0) { %>
                                                        <h6>Shipping: $0.00</h6>
                                                        <% } else { %>
                                                            <h6>Shipping: Free!</h6>
                                                            <% } %>
                                        </div>

                                        <h4 class="dt-total-checkout-h4">Subtotal: $<%= countTaxShipping.toFixed(2) %>
                                        </h4>
                                        <% if (count> 99) { %>
                                            <p class="dt-cart-p-shipping"></p>
                                            <% } %>
                                                <a href="/product_category/contact"><button class="dt-checkout-button">Proceed to Checkout</button></a>

                                </div>
                        </div>


                        <footer id="cart-footer">
                            <div class="footer-box">
                                <a class="footer-a" href="/product_category/contact">Contact Us</a>
                                <span id="copyright">&#169 James Smith</span>
                                <span style="font-size: 2.2em; color: white;">
                                    <a class="footer-a" href="https://github.com/jwsmith2340" target="_blank"><i
                                            class="fa fa-github-square"></i></a>
                                    <a class="footer-a" href="https://www.linkedin.com/in/jwsmith2340/"
                                        target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                </span>
                            </div>

                        </footer>
                </div>
        </div>
    </body>

</html>