<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <div class="main">
            <%- include('../partials/nav.ejs') %>
                <div id="category-box">
                    <h3>All Guitars</h3>
                </div>
                <ul>
                    <% products.forEach(pro=> { %>
                        <div class="home-product-display">
                            <div class="product-display-image">
                                <a class="home-image-a" href="/<%= pro._id %>"><img src="<%= pro.image %>"
                                        class="display-image"></a>
                            </div>
                            <div class="product-display-info">
                                <p><a class="home-name-a" href="/<%= pro._id %>">
                                        <%= pro.brand %>
                                            <%= pro.model %>
                                    </a><br>
                                    <%= pro.color %><br>
                                        $<%= pro.price %>.99<br>
                                </p>
                            </div>

                        </div>
                        <% }) %>
                </ul>
        </div>

        <footer>
            <div class="footer-box">
                <a class="footer-a" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact Us</a>
                <span id="copyright">&#169 James Smith</span>
                <span style="font-size: 2.2em; color: white;">
                    <a class="footer-a" href="https://github.com/jwsmith2340" target="_blank"><i
                            class="fa fa-github-square"></i></a>
                    <a class="footer-a" href="https://www.linkedin.com/in/jwsmith2340/" target="_blank"><i
                            class="fa fa-linkedin-square"></i></a>
                </span>
            </div>
        </footer>

    </body>

</html>