<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="main-show">
        <%- include('../partials/nav.ejs') %>

            <div class="show-product-display">
                <div class="product-show-image">
                    <img src="<%= product.image %>" class="show-image">
                </div>
                <div class="product-show-info">
                    <h4 class="product-info-description">
                        <%= product.brand %>
                    </h4>
                    <h4 class="product-info-description">
                        <%= product.model %>
                    </h4>
                    <h5 class="product-info-price">
                        $<%= product.price %>.99
                    </h5>

                    <form action="/cart" method="post">
                        <input type="hidden" name="<%= product.brand %>">
                        <input type="hidden" name="<%= product.model %>">
                        <input type="hidden" name="<%= product.color %>">
                        <input type="hidden" name="<%= product.image %>">
                        <input type="hidden" name="<%= product.price %>">
                        <input type="hidden" name="<%= product.category %>">
                        <input type="hidden" name="<%= product.subC1 %>">
                        <input type="hidden" name="<%= product.description %>">
                        <input id="show-add-cart" type="submit" value="Add to Cart">
                    </form>
                    


                </div>
            </div>
    </div>

    <div class="dt-main-show">
        <%- include('../partials/nav.ejs') %>

            <div class="dt-show-landing-cat-bar">
                <a class="landing-cat-a" href="/product_category/guitar">Guitars</a>
                <a class="landing-cat-a" href="/product_category/bass">Basses</a>
                <a class="landing-cat-a" href="/product_category/effects">Effects</a>
            </div>

            <div class="dt-show-product-display-box">
                <div class="dt-show-product-image-box">
                    <img src="<%= product.image %>" class="dt-show-product-image">
                </div>
                <div class="dt-show-product-info-box">
                    <h2 class="dt-show-product-info-h2">
                        <%= product.brand %>
                            <%= product.model %>
                    </h2>
                    <h3 class="dt-show-product-info-h3">$<%= product.price %>.99</h3>

                    <input id="show-add-cart" type="submit" value="Add to Cart">

                    <p class="dt-show-product-info-p">
                        <%= product.description %>
                    </p>
                </div>
            </div>
    </div>

    <footer id="dt-show-footer-fixed">
        <div class="footer-box">
            <a class="footer-a" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact Us</a>
            <span id="copyright">&#169 James Smith</span>
            <span style="font-size: 2.2em; color: white;">
                <a class="footer-a" href="https://github.com/jwsmith2340" target="_blank"><i
                        class="fa fa-github-square"></i></a>
                <a class="footer-a" href="https://www.linkedin.com/in/jwsmith2340/" target="_blank"><i
                        class="fa fa-linkedin-square"></i></a>
            </span>
        </div>
    </footer>

</body>

</html>